snippet { "bracket" iA
{
	$1
}
$0
endsnippet

snippet ffor "for loop" iA
for ($1) {
	$2
}
$0
endsnippet

snippet fwhile "while loop" iA
while ($1) {
	$2
}
$0
endsnippet

snippet fif "if" iA
if ($1) {
	$2
}
$0
endsnippet

snippet felif "else if" iA
else if ($1) {
	$2
}
$0
endsnippet


snippet felse "else" iA
else {
	$1
}
$0
endsnippet

