snippet { "bracket" iA
{
	$1
}
$0
endsnippet

snippet for "for loop" iA
for ($1) {
	$2
}
$0
endsnippet

snippet while "while loop" iA
while ($1) {
	$2
}
$0
endsnippet

snippet if "if" iA
if ($1) {
	$2
}
$0
endsnippet
